.containerNavbar{
    width: 100%;
    background-color:rgba(30, 80, 219, 0.678);
    color: white;
    font-size: 24px;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categories{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
  }
.categories a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    border-radius: 10px;
  }